@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'tailwindcss';
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
@keyframes slide {
    0% { background-position: 0% center; }
    100% { background-position: 100% center; }
}

.animate-slide {
    animation: slide 20s linear infinite;
}

.bg-gray-custom {
    background-color: #f2f2f2; /* nền xám nhẹ */
}

.card {
    border-radius: 1rem;
}

.btn-dark {
    background-color: #48af90;
    border: none;
    color: white;
}

.btn-dark:hover {
    background-color: #3a8c7a;
}
